POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=inventory_service
POSTGRES_HOST_PORT=5433

PGADMIN_EMAIL=admin@insurance.local
PGADMIN_PASSWORD=admin123

REDIS_PASSWORD=123

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

ELASTIC_VERSION=8.13.4
ELASTIC_JAVA_OPTS=-Xms512m -Xmx512m

